<div class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Flight 42</a>
      <div class="navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-link active" [routerLink]="['home']">Home</a>
          <a class="nav-link active" [routerLink]="['flight/search']">Flight Search</a>
        </div>
      </div>
    </div>
    <div class="navbar-nav px-3">
      @if(!appState.userInfo.isAvailable()) {
        <div class="nav-item">
          <button class="btn btn-secondary" (click)="logIn()">Login</button>
        </div>
      } @else {
        <div class="nav-item">
          <button class="btn btn-info text-nowrap" (click)="logOut()">
            Logout <span class="badge text-bg-light">{{ appState.userInfo.resource.name() }}</span>
          </button>
        </div>
      }
    </div>
  </nav>

<div class="container-fluid">
  <div class="py-4">
    @if(!rootApiLoaded()) {
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        Root View Model not loaded
      </div>
    }
    <router-outlet></router-outlet>
  </div>
</div>
