<div class="row">
    <div class="col">
        <p class="lead">Flight Create</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-action-card #saveActionCard [disabled]="!(connection.isValid)" (execute)="onSaveFlight()">
            <app-flight-connection-form #connection [model]="viewModel.template.connection()" (modelChange)="viewModel.template.connection.patch($event)" />
            <!-- <app-flight-times-form #times [(model)]="viewModel.template.times!" />
            <app-flight-operator-form #operator [(model)]="viewModel.template.operator!" [aircrafts]="viewModel.aircrafts" /> -->
        </app-action-card>
    </div>
</div>
