<div class="row">
    <div class="col">
        <p class="lead">Flight Create</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-action-card #saveActionCard [disabled]="!store.createFlightState.isAvailable()" (save)="onSaveFlight()">
            <app-flight-connection-form [connection]="templateForm.connection" />
            <app-flight-times-form [times]="templateForm.times" />
            <app-flight-operator-form [aircrafts]="store.flightCreateVm.aircrafts()" [operator]="templateForm.operator" />
        </app-action-card>
    </div>
</div>
