<h5 class="card-title">Connection</h5>

<form #flightConnectionForm="ngForm">
    <div class="mb-3">
        <label for="from" class="form-label">From</label>
        <input class="form-control" id="from" name="from" required [ngModel]="model().from" (ngModelChange)="patchModel({ from: $event })">
    </div>
    <div class="mb-3">
        <label for="to" class="form-label">To</label>
        <input class="form-control" id="to" name="to" required [ngModel]="model().to" (ngModelChange)="patchModel({ to: $event })">
    </div>
    <div class="mb-3">
        <label for="icaoFrom" class="form-label">ICAO From</label>
        <input class="form-control" id="icaoFrom" name="icaoFrom" maxlength="4" [ngModel]="model().icaoFrom" (ngModelChange)="patchModel({ icaoFrom: $event })">
    </div>
    <div class="mb-3">
        <label for="icaoTo" class="form-label">ICAO To</label>
        <input class="form-control" id="icaoTo" name="icaoTo" maxlength="4" [ngModel]="model().icaoTo" (ngModelChange)="patchModel({ icaoTo: $event })">
    </div>
</form>
